<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">What makes a difference.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2010 - June 2011</h4>
                                    <h4 class="subheading">Public Relations Officer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Student Union in Engineering School, worked as a receptionist at multiple meetings and events in school and university.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2011 - Feb 2012</h4>
                                    <h4 class="subheading">Volunteer Group Vice Leader</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cultural Conservation Group, Center for Citizenship and Social Development, investigated people affected by renovation plan in Enning Road, organized a guided tour of the historical campus of Sun Yat-sen University and had more than 20 participants.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2012 - Sep 2012</h4>
                                    <h4 class="subheading">Volunteer teacher</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Zhixing Volunteer Teaching Team Sun Yat-sen University, taught geography for 60 students during two weeks in Meizhou, visited student families and collaborated with their parents.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mar 2014 - Jun 2014</h4>
                                    <h4 class="subheading">Client Service Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Millward Brown ACSR, performed desk research, synthesized and analyzed market data from the quantitative group, summarized investigation reports from the qualitative group, created engaging and comprehensive client reports and presentations.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015 - Jan 2019</h4>
                                    <h4 class="subheading">Housing Services</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Up to 3-year experience in house sublease, subleased 3 suites, managed 10 tenants, kept in touch with 3 agents, gained a total profit of 200,000 RMB with Return on Investment (ROI) around 32%.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Stories
                                    <br>never
                                    <br>ends!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>