<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">What makes a difference.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Public
                                    <br>Relations 
                                    <br>Officer</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2010 - June 2011</h4>
                                    <h4 class="subheading">Student Union in Engineering School </br> Sun Yat-sen University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked as a receptionist at multiple meetings and events in school and university.</p>
                                </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Volunteer
                                    <br>Vice 
                                    <br>Leader</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2011 - Feb 2012</h4>
                                    <h4 class="subheading">Cultural Conservation Group </br> Center for Citizenship and Social Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Investigated people affected by the renovation plan in Enning Road, organized a guided tour of the historical campus of Sun Yat-sen University and had more than 20 participants.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Volunteer
                                    <br>Teacher
                                    <br>.</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2012 - Sep 2012</h4>
                                    <h4 class="subheading">Zhixing Volunteer Teaching Team </br> Sun Yat-sen University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Taught geography for 60 students during two weeks in Meizhou, visited student families and collaborated with their parents.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Client
                                    <br>Service
                                    <br>Intern</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mar 2014 - Jun 2014</h4>
                                    <h4 class="subheading">Millward Brown ACSR</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Performed desk research, synthesized and analyzed market data from the quantitative group, summarized investigation reports from the qualitative group, created engaging and comprehensive client reports and presentations.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Housing
                                    <br>Services
                                    <br>.</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015 - Jan 2019</h4>
                                    <h4 class="subheading">Melbourne</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Up to 3-year experience in house services, provided 3 suites, managed 10 tenants, kept in touch with 3 agents, gained a total profit of 200,000 RMB with Return on Investment (ROI) around 32%.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Stories
                                    <br>never
                                    <br>ends!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>